<div class="dashboard-container">
  <main class="flex h-full">
    <aside
      aria-labelledby="side-panel-title"
      class="bg-gray-400 w-1/5 p-10 flex flex-col gap-4"
    >
      <h2 id="side-panel-title" class="font-bold">
        <span class="pi pi-user"></span>

        <span>
          User01
        </span>
      </h2>
      <nav aria-label="Side Panel Navigation">
        <ul class="remote-menu">
          <li>
            <a routerLink="/" routerLinkActive="selected-route"
              ><span class="pi pi-microsoft"></span> 
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/" routerLinkActive="selected-route"
              ><span class="pi pi-database"></span> 
              Backoffice
            </a>
          </li>
        </ul>
        <span> </span>
      </nav>
    </aside>
    <section
      id="content-area"
      aria-labelledby="content-area-title"
      class="p-10 w-4/5"
    >
      <h2 id="content-area-title" class="font-bold">Content Area</h2>
      <router-outlet></router-outlet>
    </section>
  </main>
  <!-- <footer>To be implemented later</footer> -->
</div>
